.cards {
  border: 3px solid black;
  height: 450px;
  width: 450px;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center;
  vertical-align: middle;

}
.backcards {
  background-image: url("https://d1zr3pdt21yylq.cloudfront.net/sites/default/files/styles/card_gallery_image_medium/public/card_images/Card-Rainbow-4.jpg?itok=NkOyn852");
}

.cardfront1 {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/eb/80/fd/eb80fdff3c9f6deaa85c69b27d66fc37.jpg");
}

.cardfront2 {
  background-image: url("http://akns-images.eonline.com/eol_images/Entire_Site/2016229/rs_600x600-160329123233-600-Lisa-Frank-Unicorn.jm.32916.jpg");
}

.cardfront3 {
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/3b/ca/b6/3bcab6f591ac1d61b1e6abded3ea06a7.jpg");
}

.match1 {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/eb/80/fd/eb80fdff3c9f6deaa85c69b27d66fc37.jpg");
}
